/* Reset & General Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
}

/* Navbar Styles */
.navbar-brand img {
    margin-right: 10px;
}

.navbar-brand {
    font-size:35px;
    font-weight: bold;
    color: #0c2134;
    font-family: "Playwrite BE VLG", cursive;
}

.navbar-nav .nav-link {
    color: white;
    font-size: 15px;
    font-weight: 500;
    margin: 0 10px;
    transition: color 0.3s;
}

.navbar-nav .nav-link:hover {
    color: #f1f1f1;
}

.dropdown-menu .dropdown-item {
    color: black;
    padding: 10px 15px;
    transition: background-color 0.3s;
}

.dropdown-menu .dropdown-item:hover {
    background-color: #122d45;
    color: white;
}

.dropdown-toggle::after {
    margin-left: 8px;
}

.navbar{
    height: 80px;
}

.navbar-toggler {
    border-color: rgba(255, 255, 255, 0.222);
    
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='rgba%28255, 255, 255, 0.5%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}



.navButtons{
    margin-right: 45px;
}
