
    <div class="backgroundImage d-flex align-items-center justify-content-center">
        <div class="overlayText text-center">
            <h1 class="h1">fly with</h1>
            <h1 class="h1ii">AiR travel</h1>
            <h2 class="h2">To the sky we belong!</h2>
            <div class="button-group mt-4">
                <a href="/search-flight" class="buttonsColor">
                    <button class="btn buttons1">Book a Flight</button>
                </a>
                <a href="/allbookings" class="buttonsColor">
                    <button class="btn buttons2">Your Bookings</button>
                </a>
                <!-- <a class="buttonsColor">
                    <button class="btn buttons3" (click)="getStudents()">TBD</button>
                </a> -->
            </div>
        </div>
    </div>

 
