<div>
    <div class="backgroundImage"></div>
    
    <h1 class="h1">AiR Travel</h1>
    <h2 class="h2">To the sky we belong!</h2>

    <p class="paragraph">
        Established in 2024 in Karachi, Pakistan, AiR Travel has become a global connector, offering flights to over 150 countries with a focus on comfort, reliability, and affordability. Our advanced fleet, featuring the Airbus A380 and Boeing 747, ensures a smooth and luxurious journey every time.
        <br><br>
        At AiR Travel, every detail of your journey is designed to enhance your experience. From gourmet meals and top-notch inflight entertainment to spacious seating across all classes—economy, business, and first—your comfort is our priority. Our dedicated crew embodies our values of service and excellence, ensuring you feel at home in the skies.
        <br><br>
        We combine competitive pricing with premium services, making air travel accessible for everyone. Known for our punctuality and safety, AiR Travel is your trusted partner, whether you're flying for business or leisure.
        <br><br>
        This website was proudly created by two FASTians, Abdulhadi and Ibrahim, showcasing their passion for technology and innovation.
        <br><br>
        Welcome aboard AiR Travel—where the world is within your reach!
    </p>
</div>
